/* =======
IMPORTS
======= */
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');


/* =========
VARIABLES
========= */
:root {
  --offset-value: 30;
  --btn-size: 60;
  
  --green: crimson;
}


/* =======
WRAPPER
======= */
.wrapper {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  height: 100%;
  width: 100%;
  background-image: url(./132592509_2694393100872369_8219776065587610918_n.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}


/* =====================
NAVIGATION BACKGROUND
===================== */
#nav-bg {
  transform-origin: center center;
  transition: transform .3s;
  transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale));
  will-change: transform;
  pointer-events: none;

}


/* ======
BUTTON
====== */
.btn {
  position: fixed;
  height: calc(var(--btn-size)*1px);
  width: calc(var(--btn-size)*1px);
  bottom: calc((var(--offset-value))*1px);
  left: calc(var(--offset-value)*1px);
  /*left: calc(50% - (var(--btn-size)/2*1px)); if you wish to center it */
  border-radius: 50%;
  background: #fafafa;
  cursor: pointer;
  margin: 0;
  padding: 0 15px;
  border: none;
  z-index: 100;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#toggle-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  color: var(--green);
  /*box-shadow: 0 6px 12px rgba(0,0,0,.1);*/
  transition: transform .3s;
  border:2px solid crimson;
}

#toggle-btn span {
  position: relative;
  width: 100%;
}

#toggle-btn span {
  margin-top: -4px;
}
#toggle-btn span + span {
  margin-top: 8px;
}

#toggle-btn span:before,
#toggle-btn span:after {
  content: '';
  position: absolute;
  top: 0;
  background: currentColor;
  opacity: .8;
  height: 100%;
  width: 50%;
  height: 4px;
  transition: .25s cubic-bezier(.6,0,.3,1);
  transform-origin: center center;
}

#toggle-btn span:before {
  left: 0;
  border-radius: 3px 0 0 3px;
}

#toggle-btn span:after {
  right: 0;
  border-radius: 0 3px 3px 0;
}

#toggle-btn.shown span:nth-of-type(1):before {
  transform: translate3d(3px, 3.5px, 0) rotate(45deg);
}

#toggle-btn.shown span:nth-of-type(1):after {
  transform: translate3d(-3px, 3.5px, 0) rotate(-45deg);
}

#toggle-btn.shown span:nth-of-type(3):before {
  transform: translate3d(3px, -3.5px, 0) rotate(-45deg);
}

#toggle-btn.shown span:nth-of-type(3):after {
  transform: translate3d(-3px, -3.5px, 0) rotate(45deg);
}

#toggle-btn.shown span:nth-of-type(2):before,
#toggle-btn.shown span:nth-of-type(2):after {
  opacity: 0.0001;
}

#toggle-btn.shown span:nth-of-type(2):before {
  transform: translateX(-200%);
}

#toggle-btn.shown span:nth-of-type(2):after {
  transform: translateX(200%);
}

#toggle-btn.shown:before {
  transform: scale(.6);
  transition: .2s;
}

#toggle-btn:before {
  content: '';
  transition: .2s .2s;
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.1);
  border-radius: inherit;
  filter: blur(5px);
  z-index: -2;
}
#toggle-btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: #fafafa;
  z-index: -1;
}

/* ==========
NAVIGATION
========== */
nav {
  width: 100%;
  height: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  z-index: 200;
  pointer-events: none;
}

nav ul {
  margin: auto;
  pointer-events: auto;
  text-align: center;
}

nav li {
  font-size: 30px;
  color: #212121;
  user-select: none;
  transform: translate(-20px,20px) scale(.9);
  transition: 0s;
  opacity: 0.0001;
  visibility: hidden;
  will-change: transform;
}

nav li + li {
  margin-top: 30px;
}

#toggle-btn.shown ~ .wrapper nav li {
  transform: none;
  opacity: 1;
  visibility: visible;
  transition: .35s cubic-bezier(.4,2.08,.55,1);
}

#toggle-btn.shown ~ .wrapper nav li:nth-child(1) {
  transition-delay: .15s;
}
#toggle-btn.shown ~ .wrapper nav li:nth-child(2) {
  transition-delay: .125s;
}
#toggle-btn.shown ~ .wrapper nav li:nth-child(3) {
  transition-delay: .1s;
}

/* ============
LINK EFFECT
============ */
.link {
  position: relative;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.link:before,
.link:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 50%;
  background: crimson;
  top: calc(50% + 2px);
  transition: transform .3s cubic-bezier(.5,.5,0,1);
}

.link:before {
  left: 0;
  transform: translateX(calc(-100% - 10px)) scaleX(0);
  transform-origin: left;
}

.link:after {
  right: 0;
  transform: translateX(calc(100% + 10px)) scaleX(0);
  transform-origin: right;
}

.link:hover:before {
  transform: translateX(calc(-100% - 10px)) scaleX(1);
  transform-origin: right;
}

.link:hover:after {
  transform: translateX(calc(100% + 10px)) scaleX(1);
  transform-origin: left;
}


/* =======
CONTENT
======= */


#content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index:11111111111;
}

#content h1 {
  font-size: calc(4vmin + 1em);
  text-align: center;
  margin: auto;
  color: #fff;
  text-shadow: 0 6px 18px rgba(0,0,0,.1);
}

#bio{
    z-index: 10;
    position: absolute;
    width:80%;
    height:auto;
    background:white;
    opacity:.5;
    padding:5px;
    align-self: center;
    border-radius:25px;
    box-shadow: 12px 12px 19px black;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
#bio img{
  width:100px;
  height:100px;
  border-radius:50%;
  margin-top:-20%;  
  margin-left:-40px;
  z-index:12;
  position:absolute;
}
@media only screen and (min-width: 350px) {
  #bio img {
    margin-top:-21%;
  }
}
@media only screen and (min-width: 400px) {
  #bio img {
    margin-top:-18%;
  }
}
@media only screen and (min-width: 600px) {
  #bio img {
    margin-top:-15%;
  }
}
@media only screen and (min-width: 800px) {
  #bio img {
    margin-top:-11%;
  }
}
@media only screen and (min-width: 1000px) {
  #bio img {
    margin-top:-8%;
  }
}
#bio h3{
    color:black;
    margin-top:25px;
    padding:5px;
}
#bio i{
    color:black;
}
/* Usual suspects */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}


/* #region projects */

/* BASIC RESET */

/* HTML ELEMENTS */


/* COMMON CLASSES */
.break { clear:both; }


/* WRAPPER */
#wrapper1 { width:80%;margin-left:14%;margin-right:10% ;position:absolute;margin-top:4%; }

.langH1{
  color:white;z-index:999999999999999;position:absolute;margin-top:30px;margin-left:45%;
}

@media only screen and (max-width: 390px) {
  #wrapper1 {
    margin-top:50%;
  }
}
/* CONTENT */
#content1 { z-index:11111111111}
#content1 h2 { font: bold 30px Helvetica, Arial, Sans-serif; color:#eee; text-shadow: 0px 2px 6px #333; margin-left:400px; padding-top:20px; }

/* BAR CHART */
#bar { list-style:none;  }
#bar li { }

/* Last bottom should have a shadow */
#bar li div.bottom { -moz-box-shadow: 0 10px 10px hsla(0,0%,0%,.2); -webkit-box-shadow: 0 10px 30px hsla(0,0%,0%,.2); box-shadow: 0 10px 30px hsla(0,0%,0%,.2); }

/* Ellipse top */
#bar li div.top { background-color:rgba(213,238,241,0.5); position:relative; float:left; margin-left:10px;
	width:40px; height:100px; -moz-border-radius: 40px/100px; -webkit-border-radius: 40px 100px; border-radius: 40px/100px;
	-webkit-transition-property: margin-left;
	-webkit-transition-duration: 500ms;
}
#bar li div.top img { margin-left:10px; margin-top:15px; }

/* Bar bottom */
#bar li div.bottom { position:relative; margin:55px 0; width:50px;
	height:100px; -moz-border-radius: 40px/100px; -webkit-border-radius: 40px 100px; border-radius: 40px/100px;
	background:-moz-linear-gradient(-90deg, #97a7a9, #b8cbcd); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#97a7a9), to(#b8cbcd));
	-webkit-transition-property: width;
	-webkit-transition-duration: 500ms;
}
#bar li div.bottom div.infobox { padding:40px 0 0 600px;
  margin:0 auto;
	-webkit-transition-property: color;
	-webkit-transition-duration: 500ms;
}
#bar li div.bottom div.infobox h3 { font-family:Georgia,serif,Times; }
#bar li div.bottom div.infobox p { font-family:"Lucida Grande",Arial,Helvetica,Sans-Serif; opacity: 0;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 500ms;
}

/* General hover actions */
#bar li:hover div.bottom div.infobox { color:#eee; text-shadow: 0px 5px 5px #111; }
#bar li:hover div.bottom div.infobox p { opacity:1; }

/* HTML bar */
#html div.top { z-index:3; }
#html div.bottom { z-index:2; height:150px; }
#html:hover div.top { z-index:5; background-color:orangered; margin-left:510; }
#html:hover div.bottom { z-index:4; background-color:orangered; width:550;  
	background:-moz-linear-gradient(-90deg, orange, red); background:-webkit-gradient(linear, 0 top, 0 bottom, from(orange), to(red)); }

/* CSS bar */
#CSS div.top { z-index:3; }
#CSS div.bottom { z-index:2; height:200px; }
#CSS:hover div.top { z-index:5; background-color:#3817af; margin-left:430px;}
#CSS:hover div.bottom { z-index:4; background-color:#9d0032; width:470px;
	background:-moz-linear-gradient(-90deg, #9d0032, #7a0027); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#724adf), to(#3817af)); }

/* JS bar */
#JS div.top { z-index:3; }
#JS div.bottom { z-index:2; height:250px; }
#JS:hover div.top { z-index:5; background-color:#d98f23; margin-left:70px; }
#JS:hover div.bottom { z-index:4; background-color:#b6781e; width:110px;
	background:-moz-linear-gradient(-90deg, #b6781e, #916018); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#fffb1f), to(#916018)); }

/* PHP bar */
#PHP div.top { z-index:3; }
#PHP div.bottom { z-index:2; height:100px; }
#PHP:hover div.top { z-index:5; background-color:#acd4f5; margin-left:430px; }
#PHP:hover div.bottom { z-index:4; background-color:#698d54; width:470px;
	background:-moz-linear-gradient(-90deg, #698d54, #506b40); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#acd4f5), to(#3d3bb6)); }

/* MYSQL bar */
#MYSQL div.top { z-index:3; }
#MYSQL div.bottom { z-index:2; height:120px; }
#MYSQL:hover div.top { z-index:5; background-color:#04524a; margin-left:430px; }
#MYSQL:hover div.bottom { z-index:4; background-color:#340e43; width:470px;
	background:-moz-linear-gradient(-90deg, #340e43, #1a0721); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#4a9aa7), to(#0d353a)); }

/* csharp bar */
#csharp div.top { z-index:3; }
#csharp div.bottom { z-index:2; height:100px; }
#csharp:hover div.top { z-index:5; background-color:#9762db; margin-left:430px; }
#csharp:hover div.bottom { z-index:4; background-color:#698d54; width:470px;
	background:-moz-linear-gradient(-90deg, #698d54, #506b40); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#9762db), to(#5f17be)); }

/* mvc bar */
#mvc div.top { z-index:3; }
#mvc div.bottom { z-index:2; height:100px; }
#mvc:hover div.top { z-index:5; background-color:#df8652; margin-left:330px; }
#mvc:hover div.bottom { z-index:4; background-color:#698d54; width:370px;
	background:-moz-linear-gradient(-90deg, #698d54, #506b40); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#df8652), to(#da5f19)); }


/* #endregion *>
